# 1. Python 環境與快取
.venv/
__pycache__/
*.py[cod]
*$py.class

# 2. 數據與成果目錄
# 遵守「數據驅動」原則，讓使用者自行透過 ETL 下載
data/
artifacts/

# 3. 忽略舊版本資料夾
Old Version*/

# 4. Jupyter Notebook 暫存
.ipynb_checkpoints/

# 5. 系統與 IDE
.vscode/
.DS_Store
Thumbs.db
